@page "/Login"
@using EmptyProject.Areas.CMSCore.Entities;
@using EmptyProject.Areas.CMSCore.Repositories;
@using EmptyProject.Components.Shared;
@inject UserRepository userRepository;
@inject StateContainer StateContainer;
@inject NavigationManager NavigationManager;

<PageTitle>Login - EmptyProject</PageTitle>

<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg  navbar navbar-expand-lg position-absolute top-0 z-index-3 shadow-none my-3 navbar-transparent mt-4 my-3 py-2 start-0 end-0 mx-4">
                <div class="container-fluid px-0">
                    <a class="navbar-brand font-weight-bolder ms-sm-3 text-white d-none d-md-block" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        EmptyProject
                    </a>
                    <a class="navbar-brand font-weight-bolder ms-sm-3 text-white d-block d-md-none" href=" https://demos.creative-tim.com/material-kit-pro/index " rel="tooltip" title="Designed and Coded by Creative Tim" data-placement="bottom" target="_blank">
                        EmptyProject
                    </a>
                    <button class="navbar-toggler shadow-none ms-md-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon mt-2">
                            <span class="navbar-toggler-bar bar1"></span>
                            <span class="navbar-toggler-bar bar2"></span>
                            <span class="navbar-toggler-bar bar3"></span>
                        </span>
                    </button>
                    <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                        <ul class="navbar-nav d-lg-block d-none">
                            <li class="nav-item">
                                <NavLink class="btn btn-white mb-0"
                                         href="">
                                    <i class="fas fa-home"></i>
                                    Home
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
        </div>
    </div>
</div>
<div class="page-header align-items-start min-height-300 m-3 border-radius-xl" style="background-image: url('https://images.unsplash.com/photo-1491466424936-e304919aada7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1949&q=80');" loading="lazy">
    <span class="mask bg-gradient-dark opacity-6"></span>
</div>
<div class="container mb-4">
    <div class="row mt-lg-n12 mt-md-n12 mt-n12 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
            <div class="card mt-8">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-success shadow-success border-radius-lg py-3 pe-1 text-center py-4">
                        <h4 class="font-weight-bolder text-white mt-1">
                            Sign in
                        </h4>
                        <p class="mb-1 text-sm text-white">
                            Enter your email and password to Sign in
                        </p>
                    </div>
                </div>
                <div class="card-body">
                    <form method="post" @onsubmit="Submit"
                          @formname="login-form" class="text-start">
                        <AntiforgeryToken />
                        <div class="mb-3">
                            <label for="email"
                                   class="input-group input-group-static">
                                <i class="fas fa-envelope"></i>&nbsp;
                                Email
                            </label>
                            <input 
                                type="email" 
                                id="email"
                                   class="form-control @(ValidEmail)"
                                   @onchange="HandleEmailChange"
                                placeholder="user@example.com" />
                        </div>
                        <div class="mb-3">
                            <label for="password"
                                   class="input-group input-group-static">
                                <i class="fas fa-key"></i>&nbsp;
                                Password
                            </label>
                            <input type="password"
                                class="form-control @(ValidPassword)"
                                @onchange="HandlePasswordChange"
                                id="password" />
                        </div>
                        <div class="container text-center">
                            <button id="btn-login" type="submit"
                                    class="btn bg-gradient-primary mt-3">
                                <i class="fas fa-unlock"></i>
                                Sign in
                            </button>
                        </div>
                    </form>
                    @if (MessageForLoginForm != "")
                    {
                        <div class="alert alert-danger text-white font-weight-bold mt-3" 
                        role="alert">
                            @((MarkupString)MessageForLoginForm)
                        </div>
                    }
                </div>
                <div class="card-footer text-center pt-0 px-lg-2 px-1">
                    <p class="mb-4 text-sm mx-auto">
                        Don't have an account?
                        <a href="javascript:;" 
                        class="text-success text-gradient font-weight-bold">
                            Sign up
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    #region Properties
    [SupplyParameterFromForm]
    public Areas.CMSCore.Entities.User? User { get; set; }

    public string MessageForLoginForm { get; set; } = "";

    public bool Toggle { get; set; } = false;

    public string ValidEmail { get; set; } = "";

    public string ValidPassword { get; set; } = "";
    #endregion

    protected override void OnInitialized()
    {
        //Look for saved user in shared component, simulates a session
        User = StateContainer.User == null ? new() : StateContainer.User;

        if (User.UserId != 0)
        {
            //Logged user
            Toggle = true;

            //Redirect to...
            NavigationManager.NavigateTo("Dashboard");
        }
        else
        {
            //Not logged user
            Toggle = false;
        }
    }

    #region Events
    private void Submit()
    {
        try
        {
            //Encrypt password
            string EncryptedPassword = EmptyProject.Library.Security
                                            .EncodeString(User.Password);

            //Get user by email and password
            User = userRepository
                        .GetByEmailAndPassword(User.Email,
                        EncryptedPassword,
                        CancellationToken.None);

            //Next if is to quit null value from User
            if (User == null)
            {
                User = new();
            }

            if (User.UserId != 0)
            {
                //User found
                StateContainer.User = User;
                Toggle = true;

                //Redirect to...
                NavigationManager.NavigateTo("Dashboard");
            }
            else
            {
                //User not found
                MessageForLoginForm = $@"<i class=""fas fa-exclamation""></i>
                                        Usuario no encontrado";

            }
        }
        catch (Exception ex)
        {
            MessageForLoginForm = $@"<i class=""fas fa-exclamation""></i>
                                    Hubo un error. Intenta nuevamente.
                                    Mensaje de error: {ex.Message}";
        }
    }

    private void HandleEmailChange(ChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value?.ToString()))
        {
            ValidEmail = "is-invalid";
        }
        else
        {
            ValidEmail = "is-valid";
            User.Email = e.Value?.ToString();
        }
    }

    private void HandlePasswordChange(ChangeEventArgs e)
    {
        if (string.IsNullOrWhiteSpace(e.Value?.ToString()))
        {
            ValidPassword = "is-invalid";
        }
        else
        {
            ValidPassword = "is-valid";
            User.Password = e.Value?.ToString();
        }
    }

    private void Salir(MouseEventArgs e)
    {
            User = new Areas.CMSCore.Entities.User();
            StateContainer.User = new Areas.CMSCore.Entities.User();

        //Show login form
        Toggle = false;
    }
    #endregion
}
